.board-frame {
    margin-left:auto;
    margin-right:auto;
}

.file-letters {
    height: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #977059;
    font-family: SansSerif Sans-Serif, serif;
    text-transform: capitalize;
}

table.board-main,
.board-main {
    border-spacing: 0;
    padding: 0;
    width: 100%;
}

table.board-main > tbody > tr > td {
    border: none;
}

.board-main .board-coordinate {
    color: #977059;
    vertical-align: middle;
    width: 20px;
    border: none;
    font-family: SansSerif Sans-Serif, serif;
    font-size: 1.1em;
}

.board-captured .board-piece,
.board-main .board-square .board-piece,
.board-main .board-square .empty-square {
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    margin: 0 auto;
}

/*.board-captured {*/
    /*padding: 2px;*/
    /*max-width: 100%;*/
    /*vertical-align: middle;*/
    /*border: none;*/
/*}*/

.board-frame {
    margin-left:auto;
    margin-right:auto;
}

.board-main .board-square {
    padding: 2px;
    vertical-align: middle;
    border: none;
}

.board-square.enabled {
    cursor: pointer;
}

.board-main {
    background: #522f23;
    border-radius: 10px;
    margin: 1.5rem auto !important;
    border: 13px ridge #542f23;
}


.block-vchess-moves-list .x_content {
    height: 250px;
    overflow-y: auto;
}

.block-vchess-captured-pieces .x_content {
    height: 250px;
    overflow-y: auto;
}

.block-vchess-captured-pieces .x_content .board-captured {
    height: 120px;
    vertical-align: middle;
}

.board-captured {
    padding: 2px;
    max-width: 100%;
    vertical-align: middle;
    border: none;
}

.b-rook.default {
    background-image: url("../images/board/53x53/brook.png");
}

.b-bishop.default {
    background-image: url("../images/board/53x53/bbishop.png");
}

.b-knight.default {
    background-image: url("../images/board/53x53/bknight.png");
}

.b-queen.default {
    background-image: url("../images/board/53x53/bqueen.png");
}

.b-king.default {
    background-image: url("../images/board/53x53/bking.png");
}

.b-pawn.default {
    background-image: url("../images/board/53x53/bpawn.png");
}

.w-rook.default {
    background-image: url("../images/board/53x53/wrook.png");
}

.w-bishop.default {
    background-image: url("../images/board/53x53/wbishop.png");
}

.w-knight.default {
    background-image: url("../images/board/53x53/wknight.png");
}

.w-queen.default {
    background-image: url("../images/board/53x53/wqueen.png");
}

.w-king.default {
    background-image: url("../images/board/53x53/wking.png");
}

.w-pawn.default {
    background-image: url("../images/board/53x53/wpawn.png");
}

.board-square.white {
    background-color: #F5f8cE;
    background: url(../images/board/53x53/light.png);
}

.board-square.black {
    background-color: #DACEA9;
    background: url(../images/board/53x53/dark.png);
}

.board-square.white.highlighted {
    background-image: url("../images/board/53x53/highlight-black.jpg");
}

.board-square.black.highlighted {
    background-image: url("../images/board/53x53/highlight-white.jpg");
}

@media (min-width: 700px) {

    .board-main .board-coordinate {
        height: 30px;
        font-size: 1.1em;
    }

    .board-captured .board-piece,
    .board-main .board-square .board-piece,
    .board-main .board-square .empty-square {
        width: 30px;
        height: 30px;
        -webkit-background-size: 30px 30px;
        background-size: 30px 30px;
    }

    .board-captured {
        height: 30px;
    }

    .file-letters {
        font-size: 1em;
    }

    .board-main .board-square {
        width: 30px;
        height: 30px;
        -webkit-background-size: 30px 30px;
        background-size: 30px 30px;
    }
    
}

@media (max-width: 380px) {
    .board-captured .board-piece,
    .board-main .board-square .board-piece,
    .board-main .board-square .empty-square {
        width: 25px;
        height: 25px;
        -webkit-background-size: 25px 25px;
        background-size: 25px 25px;
    }
}

@media (max-width: 699px) {

    .board-main .board-coordinate {
        height: 30px;
        font-size: 1em;
    }

    .board-captured {
        height: 40px;
    }

    .file-letters {
        font-size: .9em;
    }

    .board-main .board-square {
        width: 30px;
        height: 30px;
        -webkit-background-size: 30px 30px;
        background-size: 30px 30px;
    }

}

.board-square.white.highlighted {
    background-image: url("../images/board/53x53/highlight-black.jpg");
}

.board-square.black.highlighted {
    background-image: url("../images/board/53x53/highlight-white.jpg");
}
/*.board-main {*/
    /*background: #382c25;*/
    /*border-radius: 10px;*/
    /*margin: 1.5rem auto !important;*/
    /*border: 13px ridge #542f23;*/
/*}*/

.block-vchess-moves-list .x_content {
    max-height: 250px;
    overflow-y: auto;
}

.block-vchess-captured-pieces .x_content {
    max-height: 250px;
    overflow-y: auto;
    display: inline-flex;
}
.x_content .board-captured {
    padding: 2px;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    border: none;
}

/*.block-vchess h2 {*/
    /*color: coral;*/
/*}*/

.table > tbody > tr > td {
    border-top: none;
}
.chess-player-label > span.label {
    color: inherit;
    font-size: 1em;
    display: none;
}
.chess-player-label {
    width: 510px;
    margin: 0 auto;
}

.js-pager__items {
  display: inline-flex;
}
.block-vchess h2 {
    color: coral;
}


.form-item.js-form-type-radio.form-item-color.js-form-item-color {
    padding: 10px;
    display: inline-flex;
}
#edit-color-w #edit-color-b {
    margin-left: 10px;
}

