.board-frame {
    margin-left:auto;
    margin-right:auto;
    /*    background-color: #DACEA9; */
    /*	padding: 2; */
    /*	border-spacing: 2; */
}

.file-letters {
    height: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #977059;
    font-family: SansSerif Sans-Serif, serif;
    text-transform: capitalize;
}



table.board-main,
.board-main {
    border-spacing: 0;
    padding: 0;
}

table.board-main > tbody > tr > td {
    border: none;
}

.board-main .board-coordinate {
    color: #977059;
    width: 20px;
    height: 40px;
    border: none;
    font-family: SansSerif Sans-Serif, serif;
    font-size: 18px;
}


.board-main .board-square {
    padding: 2px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border: none;
}
.board-square.enabled {
    cursor: pointer;
}

.board-square.white {
    background-color: #F5f8cE;
    background: url(../images/board/light.png);
}

.board-square.black {
    background-color: #DACEA9;
    background: url(../images/board/dark.png);
}

#board-commands {

}

#board {

}


/** Pieces for the board */

/** Pieces for the board */
@media (min-width: 700px) {
    table.board-main,
    .board-main {
        border-spacing: 0;
        padding: 0;
        /*margin: 0 auto;*/
        width: 100%;
    }

    .board-captured .board-piece,
    .board-main .board-square .board-piece,
    .board-main .board-square .empty-square {
        background-position-x: 0;
        background-position-y: 0;
        background-repeat: no-repeat;
        width: 53px;
        height: 53px;
        margin: 0 auto;
    }

    .board-captured {
        height: 53px;
    }

    .b-rook.default {
        background-image: url("../images/board/brook.png");
    }

    .b-bishop.default {
        background-image: url("../images/board/bbishop.png");
    }

    .b-knight.default {
        background-image: url("../images/board/bknight.png");
    }

    .b-queen.default {
        background-image: url("../images/board/bqueen.png");
    }

    .b-king.default {
        background-image: url("../images/board/bking.png");
    }

    .b-pawn.default {
        background-image: url("../images/board/bpawn.png");
    }

    .w-rook.default {
        background-image: url("../images/board/wrook.png");
    }

    .w-bishop.default {
        background-image: url("../images/board/wbishop.png");
    }

    .w-knight.default {
        background-image: url("../images/board/wknight.png");
    }

    .w-queen.default {
        background-image: url("../images/board/wqueen.png");
    }

    .w-king.default {
        background-image: url("../images/board/wking.png");
    }

    .w-pawn.default {
        background-image: url("../images/board/wpawn.png");
    }
}

.board-square.white.highlighted {
    background-image: url("../images/board/highlightblack.jpg");
}

.board-square.black.highlighted {
    background-image: url("../images/board/highlight white.jpg");
}
.board-main {
    background: #382c25;
    border-radius: 10px;
    margin: 1.5rem auto !important;
    border: 13px ridge #542f23;
}

.block-vchess-moves-list .x_content {
    height: 250px;
    overflow-y: auto;
}

.block-vchess-captured-pieces .x_content {
    height: 250px;
    overflow-y: auto;
    display: inline-flex;
}
.x_content .board-captured {
    padding: 2px;
    width: 10%;
    height: 40px;
    vertical-align: middle;
    border: none;
}