

.featured-news h2 {
  border-bottom: solid;
  border-bottom: 5px solid #ccc;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  padding: .1em 0;
  font-family: sommet;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  border-color: #ad783e;
}
.latest-news h2 {
  border-bottom: solid;
  border-bottom: 5px solid #ccc;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  padding: .1em 0;
  font-family: sommet;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  border-color: #ad783e;
}

.col-sm-12 p {
  text-align: justify;
}

.path-frontpage .col-sm-12 a {
  color: #a25720;
  padding: 40px;
}

.path-frontpage .col-md-12 .text-center {
  color: white;
}

.path-frontpage .col-sm-4.col-xs-12.text-center a {
  color: #e3933b;
}
.path-frontpage .col-xs-8 p {
  display: inline;
}
.path-frontpage a {
  /*font-weight: bold;*/
  color: #e3933b;
}

.path-frontpage .col-sm-3.latest-news a {
  color: #d68838;
  font-weight: bold;
  text-transform: uppercase;
}
.container.text-center h2 {
  font-size: 3.3em;
}
.body-content p {
  color: white;
  text-align: center;
  font-family: '.SF UI Text';
  font-size: 1.6em;
}
.container.text-center {
  margin-top: 60px;
}

.path-user h1 {
  display: none;
}

.user-login-form input {
  width: 100% !important;
  padding: 10px;
  color: #34495e;
  margin-bottom: 20px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.467;
  height: 40px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  border:none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
/*input.js-form-submit {*/
  /*background-color: #106450;*/
  /*color: #ffff;*/
  /*border: none;*/
/*}*/

.option {
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 20px;
}

#edit-subject-0-value {
  padding: 7px;
  width: 50%;
  /*margin: 2em 0 2em;*/
}

.js-form-required.form-required {
  margin-top: 20px;
}


ul a {
  padding: 5px;
  margin-left: 10px;
}


/* Move styles */
.block-vchess-moves-list .table .even{
  background: #ececec;
}


.block-vchess-moves-list .table {
  text-align: center;
}

.block-vchess-moves-list .table {
  text-align: center;
}

.block-vchess-moves-list th {
  text-align: center;
}
.block-vchess-moves-list .table tbody > tr > td:nth-child(3) {
  background: #ccc;
  /*background: #2A3F54;*/
}
.block-vchess-moves-list .table tbody > tr > td:nth-child(3) a {
  color: #fff;
}

/*.block-vchess-moves-list .table-striped > tbody > tr:nth-child(2n+1) {*/
  /*background-color: #2a3f54;*/
/*}*/
.content > ul {
  display: inline-flex;
}
.content.dashboard_content .stats-table,
.content.dashboard_content .current-games-table,
.content.dashboard_content .challenges-table {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
}

.content.dashboard_content .stats-table caption,
.content.dashboard_content .current-games-table caption,
.content.dashboard_content .challenges-table caption {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;

  margin: 5px 0 6px;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
  color: #73879C;
}

.vchess-game-links {
  padding-bottom: 10px;
}

.blog_title {
  margin-top: 20px;
  font-size: 19px;
  text-transform: capitalize;
  /*text-decoration: underline;*/
  color: #e3933b;
  font-family: "PT Serif',georgia,sans-serif";
}

.image-round img {
  margin-top: 5%;
  padding: 0;
  vertical-align: baseline;
  display: flex;
  display: ruby-base-container;
  max-height: 100%;
}

.col-md-8.align-right {
  float: right;
}
.path-frontpage .js-pager__items {
  display: inline-flex;
  margin-left: 20px;
  float: right;
}
#edit-name--description, #edit-pass--description {
  display: none;
}

.path-user input:hover {
  border: 2px solid #59afe4;
}
.user-branding .col-md-5 {
  margin-top: 5em;
}


.path-frontpage .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /*background: #4A4E52;*/
  /*color: #efeeeb;*/

}

.blog_body {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;

}
.ReadMore {
  display: inline;
  padding: 10%;
}
.blog-date {
  color: #e3933b;
  text-align: center;
  display: inline;
}
.col-md-8.align-right {
  float: right;

}
.path-frontpage .js-pager__items {
  display: inline-flex;
  float: right;

}
.js-pager__items {
  display: flex;
  float: right;
}
.dashboard_content ul li {
  color: #d79035;
}
.user-login-form #edit-submit {
  background-color: #66e196;
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: inherit;
  padding: 3px;
  border:none;
}
.user-login-form #edit-submit:hover {
  color: #00b0ff;
}
.super-login-register {
  color: #fff;
  /*font-weight: 700;*/
  /*font-size: 1.8em;*/
}
.forgot-password a{
  color: #978f61;
  font-weight: 700;
  font-size: 1.6em;
}

.logintitle{
  color: #978f61;
  font-weight: 700;
  margin-bottom: 8%;
  font-size: 35px;
}
#edit-pass {
  margin-top: 5%;
}

.form-inline {
  display: block;
  /*!*width: 100%;*!*/
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#edit-field-first-name-0-value {
  float: inline-start;
  margin-right: 15%;
}

/*.path-user  #edit-submit {*/
  /*width: 92%;*/
  /*background-color: #59afe4;*/
  /*color: #fff;*/
  /*font-size: 1.3em;*/
  /*font-weight: 700;*/
  /*border: none;*/
/*}*/

.path-contact .js-form-submit {
  width: 20%;
  background-color: #59afe4;
  color: #fff;
  /*font-size: 1.3em;*/
  font-weight: 700;
  border: none;
  margin-top: 3%;
  display: inline;
}

#edit-preview {
  margin-left: 10px;
}

.form-item.js-form-type-radio.form-item-color.js-form-item-color {
  display: inline-flex;
  margin-top: -10px;
  margin-bottom: 20px;
}
#edit-color-w, #edit-color-b {
  margin-left: 10px;
}
.vchess-opponent-game-form #edit-submit,#edit-submit {
  background-color: #59afe4;
  color: #fff;
}

div .col-xs-8 {
  margin-top: 20px;
}

.sidebar__section.sidebar-second.clearfix {
  margin: 70px auto auto 10px;
  border-left: 1px;
  padding-left: 10px;
  background: top;
}
h2 {
  font-size: 25px;
}

.text-align-justify {
  text-align: justify;
  font-size: 18px;
}
ul {
  list-style: none;
  position: relative;
  padding-left: 0px;
}
/*.path-register {*/
  /*color: #e2e0cae6;*/
  /*font-size: 15px;*/
/*}*/
.user-branding a:hover,a:active, a:visited,a:focus, a {
   color: #84c3ed;
  text-decoration: none;
 }
.create-random-game a, .create-opponent-game a {
  color: #fff;
}
.js-quickedit-page-title{
  display: none;
}
.path-user ul li a {
  font-size: 1.2em;
}
.login-title {
  color: #1a465b;
  font-weight: bold;
}
.user-pass {
  margin-top: 10%;
}

.user-register-form, .form-action, .button--primary {
  width: 96%;
  border: none;
}


.actions-suffix {
  background-color: #59afe4;
  color: #fff;
  /*font-weight: 700;*/
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  padding: 8px;
}

#edit-mail--description{
  display: none;
}

.actions-suffix a:hover,.user-login-form #edit-submit a:hover{
  color: #fffff0;
}
.responsive-enabled {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
}
.responsive-enabled thead {
  border-bottom: 1px solid #E6E9ED;
  font-size: 1em;
}
.responsive-enabled th {
  padding: 10px;
}
 .responsive-enabled td {
  padding-left: 10px;
}

.form-type-checkbox {
  display: -moz-box;
  margin-left: 10px;
}
.form-textarea {
  width: 547px;
  height: 101px;
}
.js-form-type-radio {
  display: inline-flex;
  margin-top: -10px;
}

.game-rating {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}

.rating {
  margin-left: 20px;
  color: #2b8bcf
}
.game-stat {
  color: #2e1d1d;
  font-weight: bold;
}

#edit-time-per-move {
  margin-top:10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#edit-position {
  margin-left: 10px;
}

.js-form-item-opponent.form-item-opponent {
  margin-left: 10px;
}

#edit-colorfield {
  margin-top: 40px;
  margin-bottom: auto;
}
