
.featured-news h2 {
  border-bottom: solid;
  color: #7a7a7a;
  font-size: 34px;
}
.latest-news h2 {
  border-bottom: solid;
  color: #7a7a7a;
  font-family: fa;
  font-size: 34px;
}
.col-sm-12 p {
  text-align: justify;
}

.path-frontpage .col-sm-12 a {
  color: white;
  padding: 40px;
}

.path-frontpage .col-md-12 .text-center {
  color: white;
  box-sizing: border-box;
  background-color: #212023;
  box-shadow: 1px 1px 60px;
  font-family: fa;
  border-top: 1px solid;
}

.path-frontpage .col-sm-4.col-xs-12.text-center a {
  color: white;
}
.path-frontpage .col-xs-8 p {
  display: inline;
}
.path-frontpage a {
  color: #7f3f33;
  font-weight: bold;
}
.container.text-center h2 {
  font-size: 3.3em;
}
.body-content p {
  color: white;
  text-align: center;
  font-family: '.SF UI Text';
  font-size: 1.6em;
}
.container.text-center {
  margin-top: 60px;
}

.path-user h1 {
  display: none;
}

.user-login-form input {
  width: 100% !important;
  padding: 10px;
  color: #34495e;
  margin-bottom: 20px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.467;
  height: 40px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  border:none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
/*input.js-form-submit {*/
  /*background-color: #106450;*/
  /*color: #ffff;*/
  /*border: none;*/
/*}*/

.option {
  margin-top: 10px;
}

#edit-subject-0-value {
  padding: 7px;
  width: 50%;
  margin: 2em 0 2em;
}

.js-form-required.form-required {
  margin-top: 20px;
}


ul a {
  padding: 5px;
  margin-left: 10px;
}


/* Move styles */
.block-vchess-moves-list .table .even{
  background: #ececec;
}


.block-vchess-moves-list .table {
  text-align: center;
}

.block-vchess-moves-list th {
  text-align: center;
}
.block-vchess-moves-list .table tbody > tr > td:nth-child(3) {
  background: #ccc;
  /*background: #2A3F54;*/
}
.block-vchess-moves-list .table tbody > tr > td:nth-child(3) a {
  color: #fff;
}

/*.block-vchess-moves-list .table-striped > tbody > tr:nth-child(2n+1) {*/
  /*background-color: #2a3f54;*/
/*}*/
.content > ul {
  display: inline-flex;
}
.content.dashboard_content .stats-table,
.content.dashboard_content .current-games-table,
.content.dashboard_content .challenges-table {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
}

.content.dashboard_content .stats-table caption,
.content.dashboard_content .current-games-table caption,
.content.dashboard_content .challenges-table caption {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;

  margin: 5px 0 6px;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
  color: #73879C;
}

.vchess-game-links {
  padding-bottom: 10px;

}

.blog_title {
  margin-bottom: 10px;
  font-size: 25px;
  text-transform: capitalize;
  /*text-decoration: underline;*/
  color: silver;
  font-family: "PT Serif',georgia,sans-serif";
}

.image-round img {
  box-shadow: inherit;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: groove saddlebrown;
  max-height: 100%;
}

.col-md-8.align-right {
  float: right;
}
.path-frontpage .js-pager__items {
  display: inline-flex;
  margin-left: 20px;

}