


body, button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 1.3em;
  color: #797776;
}

.game-timer .time-display {
     font-size: 3em;
    /* padding: 5px; */
    font-family: LCD;
    border:none
    /* border: 2px grey solid; */
    /* margin-top: 10px; */
}

.game-timer .time-display.active {
      color: #CC4444;
      border:none
}


p.story-body-text.story-content.text-align-justify {
  color: #797776;
}

.latest-news {
  margin-bottom: 1.2em;
}
.featured-news h2 {
  padding: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #d68838;
  margin-left: 2.3em;
  font-size: 1.4em;
  font-weight: bold;
}

.latest-news h2 {
  /*padding: 10px;*/
  text-transform: uppercase;
  color: #d68838;
  margin-left: 5%;
  font-size: 1.4em;
  font-weight: bold;

}

.featured-news .button.btn {
  background-color: #d68838;
  box-shadow: none;
  margin-top: auto;
}
.featured-news .btn a {
  color: #fff;
}
.news-title {
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 1.3em;

}

.image-responsive img {
  max-width: 100%;
  height: 100%;
  vertical-align: super;
  margin-top: 20px;
}

@media screen and (max-device-width: 480px) {
  .image-responsive img {
    max-width: 100%;
    height: 100%;
    vertical-align: super;
    margin-top: 20px;
    margin-left: 0px;
  }
}



.contain {
  border-bottom: 1px solid lightgray;
  padding: 10px 10px 10px;
}


.col-sm-12 p {
  text-align: justify;
}

.path-frontpage .col-sm-12 a {
  color: #a25720;
  padding: 40px;
}
.path-frontpage .col-md-12 .text-center {
  font-size: 1.4em;
  text-transform: uppercase;
  color: #d68838;
  text-align: left;
  font-weight: bold;
  margin-left: 1.2em;
}

.path-frontpage .col-sm-4.col-xs-12.text-center .blog_title a {
  color: #e3953b;
}

/*.path-frontpage .col-sm-4.col-xs-12.text-center a {*/
  /*color: #fffff0;*/
/*}*/
.path-frontpage .col-xs-8 p {
  display: inline;
}
.path-frontpage a {
  color: #e3933b;
}

.path-frontpage .col-sm-3.latest-news a {
  color: #d68838;
  text-transform: uppercase;
}
.container.text-center h2 {
  font-size: 3.3em;
}
.body-content p {
  color: white;
  text-align: center;
}
.container.text-center {
  margin-top: 60px;
}

.path-user h1 {
  display: none;
}

.user-login-form input {
  width: 100% !important;
  padding: 10px;
  color: #34495e;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.467;
  height: 40px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  border:none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.option {
  margin-top: 15px;
  margin-left: 20px;
  padding-right: 20px;
}

#edit-subject-0-value {
  padding: 7px;
  width: 50%;
  /*margin: 2em 0 2em;*/
}



ul a {
  padding: 5px;
  margin-left: 10px;
}


/* Move styles */
.vchess-moves-list .table .even{
  background: #ececec;
}


.vchess-moves-list .table {
  text-align: center;
}

.vchess-moves-list .table {
  text-align: center;
}

.vchess-moves-list th {
  text-align: center;
}
.vchess-moves-list .table tbody > tr > td:nth-child(3) {
  background: #ccc;
  /*background: #2A3F54;*/
}
.vchess-moves-list .table tbody > tr > td:nth-child(3) a {
  color: #fff;
}

/*.block-vchess-moves-list .table-striped > tbody > tr:nth-child(2n+1) {*/
  /*background-color: #2a3f54;*/
/*}*/
.content > ul {
  display: inline-flex;
}
.content.dashboard_content .stats-table,
.content.dashboard_content .current-games-table,
.content.dashboard_content .challenges-table {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
}

.content.dashboard_content .stats-table caption,
.content.dashboard_content .current-games-table caption,
.content.dashboard_content .challenges-table caption {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin: 5px 0 6px;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
  color: #73879C;
}

.vchess-game-links {
  padding-bottom: 10px;
}

.blog_title {
  margin-top: 20px;
  font-size: 19px;
  text-transform: capitalize;
  color: #e3933b;

}


.image-round img {
  /*margin-top: 5%; *!*/
  padding: 0;
  vertical-align: baseline;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  /* border-radius: 20px; */
  transition-duration: 3s;
  webkit-transition: width 2s, height 4s;
  transition: width 2s, height 4s;
  flex: 1;
  display: flex;
  margin-left: 2em;
}


.col-md-8.align-right {
  float: right;
}
.path-frontpage .js-pager__items {
  display: inline-flex;
  margin-left: 20px;
  float: right;
}
#edit-name--description, #edit-pass--description {
  display: none;
}

.path-user input {
  border: 1px solid #fff;
  background-color: transparent;
  color: #ffff;
}
.user-branding .col-md-5 {
  margin-top: 5em;
}


.path-frontpage .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #312e2b;

}

#content-2-2 {
  margin-top: 2%;
}

.path-frontpage .blog-text .text-align-justify {
  text-align: center;
}

.button.btn.Readmore {
  background-color: #d68838;
  box-shadow: none;
  padding: 10px;
}

.path-frontpage .Readmore a {
  color: #fff;
}
.path-frontpage .Readmore a:hover {
  color: #d68838;
}

.button.btn.Read {
  background-color: #d68838;
  box-shadow: none;
  width: 50%;
  padding: 10px;
}
.path-frontpage .Read a {
  color: #fff;
}
.path-frontpage .Read a:hover {
  color: #7b634b;
}

 .path-frontpage .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  color: #edac51;
  background-color:#edac51 ;
}

.blog-date {
  color: #edac51;
  text-align: center;
  font-size: 1em;

}
.col-md-8.align-right {
  float: right;

}
.path-frontpage .js-pager__items {
  display: inline-flex;
  float: right;

}
.js-pager__items {
  display: flex;
  float: right;
  margin-top: 2%;
}
.dashboard_content ul li {
  color: #edac51;
}
.user-login-form #edit-submit {
  background-color: #edac51;
  color: #fff;
  font-size: 1.3em;
  text-transform: inherit;
  padding: 3px;
  border:none;
}

.super-login-register {
  color: #fff;
}
.forgot-password a{
  color: #fff;
  font-size: 1.6em;
  padding: 18px;
}

.logintitle{
  color: #fff;
  font-size: 27px;
}

.resetTitle {
  color: #fff;
  font-size: 27px;
}

.form-inline {
  /* display: block; */
  max-width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#edit-field-first-name-0-value {
  float: inline-start;
  margin-right: 15%;
}


.path-contact .js-form-submit {
  width: 20%;
  background-color: #59afe4;
  color: #fff;
  /*font-size: 1.3em;*/
  font-weight: 700;
  border: none;
  margin-top: 3%;
  display: inline;
}

#edit-preview {
  margin-left: 10px;
}

.form-item.js-form-type-radio.form-item-color.js-form-item-color {
  display: inline-flex;
  margin-top: -10px;
  margin-bottom: 20px;
}
#edit-color-w, #edit-color-b {
  margin-left: 10px;
}
.vchess-opponent-game-form #edit-submit {
  background-color: #59afe4;
  color: #fff;
  width: 33%;
  margin: 10px 0px;
}

div#edit-amount--description {
  display: none;
}

.date {
  margin-bottom: -20px;
}

.sidebar__section.sidebar-second.clearfix {
  margin: 70px auto auto 10px;
  border-left: 1px;
  padding-left: 10px;
  background: top;
}
h2 {
  font-size: 25px;
}

.path-news .text-align-justify {
  text-align: justify;
  font-size: 1.3em;
  margin-top: -10px;
}

.text-align-justify {
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 15px;
  color: #312e2b;
}

.path-frontpage .text-align-justify {
 text-align: justify;
 font-size: 1.2em;
  line-height: 1.2em;
}

.date-time {
  color: #edac51;
  font-style: italic;
  margin-bottom: 3%;
  padding-top: 0.1em;
  font-size: 1.2em;
}

.align-left {
  float: left;
  padding-right: 20px;
}

.path-frontpage .page-content .text-align-justify {
    text-align: justify;
    margin-top: -15px;
    color: hsl(0,0%,57%);
    line-height: 1.2em;
    font-size: 1.3em;
}

.align-justify {
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 8px;
}

ul {
  list-style: none;
  position: relative;
  padding-left: 0px;
}

.user-branding, a:active, a:visited,a:focus, a {
   color: #edac51;
   /*color: #fff;*/
  text-decoration: none;
 }


.path-game .user-branding, a:active, a:visited, a:focus, a {
  color: #fff;
  text-decoration: none;
}


.create-random-game a, .create-opponent-game a {
  color: #fff;
}
.js-quickedit-page-title{
  display: none;
}
.path-user ul li a {
  font-size: 1.2em;
}
.login-title {
  color: #1a465b;
  font-weight: bold;
  visibility: hidden;
}
.user-pass {
  margin-top: -5%;
}

.user-register-form, .form-action, .button--primary {
  width: 96%;
  border: none;
}


.actions-suffix {
  background-color: #212023;
  color: #fff;
  /*font-weight: 700;*/
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  padding: 8px;
}

#edit-mail--description{
  display: none;
}

.actions-suffix a:hover,.user-login-form #edit-submit a:hover{
  color: #fffff0;
}

@media screen and (max-device-width: 480px){
  .responsive-enabled {
  }

}


.responsive-enabled {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
  font-size: 14px;
  overflow-y: auto;
  line-height: 2.0;
}

.responsive-enabled thead {
  border-bottom: 1px solid #E6E9ED;
  font-size: 1em;
}
.responsive-enabled th {
  padding: 10px;
}
.responsive-enabled td {
   padding-left: 10px;
   color: #5f5656;
}

.form-type-checkbox {
  margin-left: 10px;
  margin-top: 10px;
  color: rebeccapurple;
}

.form-textarea {
  width: 547px;
  height: 101px;
}
.js-form-type-radio {
  display: inline-flex;
  margin-top: -10px;
}

.game-rating {
  /*float: right;*/
  margin-right: 20px;
  margin-top: 5px;
  margin-left: 20px;
}
.user-picture img {
  margin-top: 10px;
  margin-left: 20px;
}

#edit-game-type--wrapper--description {
  margin-top: -10px;
  margin-bottom: 20px;
  display: none;
}

input#edit-opponent {
  width: 33%;
  margin-top: 2em;
}

.user-name {
  margin-left: 20px;
}

.image-circle img {
  border-radius: 20px;
}

.top_player .align-right {
  margin-right: 90px;
  border-left: 2px solid;
  margin-top: -40px;
}
.game-stat {
  color: #1a622c;
  font-weight: bold;
}

#edit-time-per-move {
  margin-top:10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.js-form-item-opponent.form-item-opponent {
  margin-bottom: -15px;
}

#edit-colorfield {
  margin-top: 10px;
  margin-bottom: auto;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 2px 4px;
  /*font-size: 12px;*/
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;
}
.badge.badge-success {
  margin-left: -50%;
  background-color: #1fa318;
  margin-right: 4%;
  padding: 5px 10px;
  width: 50px;
  text-align: right;
}

.badge.badge-danger {
  margin-left: -40%;
  background-color: red;
  padding: 5px 10px;
  width: 50px;
  text-align: right;
}

.badge.badge-info {
  margin-left: -40%;
  padding: 5px 10px;
  width: 50px;
  text-align: right;
}

.col-xs-2.users {
  white-space: nowrap;
  /*overflow: hidden;*/
  min-width: 20%;
}

/*.form-player .col-xs-2 {*/
  /*padding: 10px 10px;*/
/*}*/


.streak {
  font-weight: 800;
  margin-left: -6%;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
}
.right_col .row {
    background-color: #312e2b;
}
.x_title {
    font-family: fantasy;
    margin: -10px 0px;
}
.name {
  text-transform: capitalize;
    margin-left: 5px;
    font-family: monospace;
}
@media (min-width : 768px) {

  .form-player {
    border-bottom: 1px solid lightgray;
  }
}

.won{
  display: inline-flex;
  margin-left: -4rem

}

.drawn{
  display: inline-flex;
  margin-left: 3%;
}

.lost{
  display: inline;
  margin-left: -4rem;
}
.col-xs-1.image-circle {
  padding: 5px;
}

.footer-text p a {
  color: #edac51;
  font-weight: bold;
  font-size: 15px;
}

.node-blog {
margin-left: 40px;
}

@media (min-width : 768px){
  .col-sm-4.img-responsive {
   max-width: 100%;
    height: 100%;
  }
}

.col-sm-4.img-responsive img {
  max-width: 130%;
  height: 100%;
  margin-top: 15%;
}

/* Medium Devices, Desktops */

@media (min-width : 768px){
  .col-sm-6 .node-blog {
    width: auto;
  }
}
/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px){

}

.node1_title {
  font-size: 20px;
}

.img-resp img {
  float: right;
}

.item-list a {
  font-size: 16px;
  display: table-cell;
  white-space: pre-line;
  text-decoration: underline;
  padding: inherit;
}

.demo {
  margin-top: -10px;
}

.path-frontpage .col-lg-8.col-md-8.col-sm-9 {
  /*box-shadow: 0 2px 4px 0 #9c9e9d;*/
  background-color: white;
  margin-top: 2%;
  max-height: 100%;
  padding-bottom: 10px;
}

.flippy {
  margin-top: 10%;
  margin-left: -20px;
}

.path-node input#edit-submit, input#edit-preview {
  width: 20%;
  display: inline;
  float: left;
}


.rc_comment-box-container {
  margin-top: 5%;
}

.vchess-game-links div.button {
  display:inline-block;
  background: no-repeat;
}


@media screen and (max-device-width: 480px){

  .vchess-game-links div.button {
    display: block;
  }

}
.table > tbody > tr > td{
  line-height: 1.42857143;
  vertical-align: top;
}

.form-select {
  display: -webkit-box;
  padding: 5px 5px 10px;
  border-radius: 5px;
}

div#edit-description {
  margin-top: 10px;
}

select#edit-game-time-time-per-move {
  width: 33%;
}

select#edit-game-time-unit {
  float: left;
  margin-top: -9%;
  padding: 9px 5px;
  border-radius: 5px;
  margin-left: 25%;
  width: 18%;
}

@media screen and (max-width: 720px) {
  select#edit-game-time-unit {
    float: left;
    padding: 9px 5px;
    border-radius: 5px;
    width: 18%;
  }
}




@media screen and (max-width: 600px){
  select#edit-game-time-time-per-move {
    width: 57%;
  }
}




div#edit-opponent--description {
  display: none;
}
div#edit-game-type--wrapper--description {
  display: none;
}

.js-form-item-position {
  margin-top: 20px;
  margin-left: -2px;
}

.js-form-item-game-time-time-per-move {
  margin-top: 20px;
}

.js-form-item-game-time-value {
  margin-top: 30px;
}
select#edit-position {
  width: 33%;
}
div#edit-position--description {
  display: none;
}

.path-user #edit-field-first-name-wrapper {
  float: right;
}

input#edit-submit {
  background-color: #ed9e35d9;
  color: #fff;
  width: 50%;
  margin-left: 0px;
  box-shadow: none;
}

input::placeholder {
  color: #fff;
  font-size: 1.2em;
  font-style: italic;
}

.welcome{
  font-size: 3em;
}

.col-sm-4.col-xs-12.text-center {
  /*background-color: #fff; */
  text-decoration: none;
  /*box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
  transition: transform .1s ease-in;
  display: table-column-group;
  flex-direction: column;
  padding: 10px;
  /* border-right: groove #9e8c8c; */

}


.user-login-form {
  display: grid;
  grid-template-areas:
    "message message"
    "top top"
    "mid mid"
    "action action"
    "bott-left bott-right";
   /*grid-gap: 10px;*/
  grid-template-columns: 1fr 1fr;
}

.form-item-name {
  grid-area: top;
}

.form-item-pass {
  grid-area: mid;
}

.form-actions {
  grid-area: action;
}

.forgot-password {
  grid-area: bott-right;
}

.actions-suffix {
  grid-area: bott-left;
}

.messages--status{
  grid-area: message;
  margin: -10px 0px 15px;
}

.inst {
  font-size: 1.3em;
  display: inline-grid;
  color: red;
  padding-bottom: 15px;

}

.user-pass p {
  visibility: hidden;
}

.path-frontpage .row.views-row {
  width: calc(50% - 10px);
  padding: 5px;
  margin: 5px;
}

.content-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.4em;
  margin-left: 1em;
  margin-right: 1em;
}

.path-frontpage .dialog-off-canvas-main-canvas {
  background-color: #312e2b;
}

.views-field.views-field-title {

  font-size: 1.8rem;
  line-height: 1.2;
  word-break: normal;
  margin-bottom: 10px;
}

.views-field.views-field-field-date-time {
  margin-bottom: 10px;
  font-size: 1.2em;
}
.path-node .text-align-justify {
  text-align: justify;
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 15px;
  color: #312e2b;
}




