<section class="content-block-nopad bg-deepocean footer-wrap-1-3">
  <div class="container footer-1-3">
    {{ page. footer }}
    <div class="col-xs-12 footer-text">
      <p>&copy; 2017 Chess9ja Entertainment | <a href="/terms-and-conditions"> Terms &amp; Conditions</a> and <a href="/privacy-policy">Privacy Policy</a> | <span>Powered by <a href="http://kodehauz.com" target="_blank">KodeHauz</a>.</span></p>
    </div>
  </div>

  <!-- /.container -->
</section>
