<footer>
  <div class="pull-right">
    <p>&copy; 2017 Chess9ja Entertainment | <a href="#"> Terms & Conditions</a> and <a href="#">Privacy Policy</a> | <span>Powered by KodeHauz Nigeria (Solution Planet).</span></p>
  </div>
  <div class="clearfix"></div>
</footer>