
{# header-container #}

        <header id="header-1" class="soft-scroll header-1">
          <!-- Navbar -->
          <div class="row">
            <nav class="main-nav">
            <div class="container">
              <!-- Brand and toggle -->
              <div class="navbar-header">
                 {{ page.header }}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <!-- Navigation -->

              <div class="collapse navbar-collapse">
                {{ page.nagivation }}
                <ul class="nav navbar-nav navbar-right">
                  <li class="active nav-item"></li>
                </ul>
              </div>
            </div>
          </nav>
          </div>
    {# post-progress #}
    <div class="post-progress">
      <div class="post-progress__bar"></div>
    </div>
    {# EOF: post-progress #}
        </header>

  {# EOF: header #}

{# EOF: header-container #}