
{# header-container #}

        <header id="header-1" class="soft-scroll header-1">

          <!-- Navbar -->
          <div class="row">
            <nav class="main-nav">

            <div class="container">
              <!-- Brand and toggle -->

              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              </div>
          <div class="col-md-4 align-left">
            {{ page.header }}
          </div>
          {#<div class="col-md-8 align-right">#}
            {{ page.navigation }}
          {#</div>#}
          </nav>
          </div>
        </header>