
  <header id="header-1" class="soft-scroll header-1">
  <!-- Navbar -->
    <nav class="main-nav navbar-fixed-top headroom headroom--pinned is-active">
      <div class="container">
        <!-- Brand and toggle -->
        <div class="navbar-header ">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          </div>
        </div>
        {#<!-- Navigation -->#}
    {#<div class="col-md-8">#}
      {#<div class="collapse navbar-collapse">#}
      {#<ul class="nav navbar-nav navbar-right">#}

      {#</ul>#}
    {#</div>#}
    {#<!--//nav-->#}
    {#</div>#}
    {#<!--// End Navigation -->#}
    {#<!--// End Container -->#}

    {#<!--// End Navbar -->#}
    </nav>
    <div class="col-md-3">
      {{page.header }}
    </div>
    <div class="col-md-9">
      {{page.navigation}}
    </div>
</header>


