
{{ attach_library('chess9ja/user-register') }}
        <div class="row main-content user-branding">
          {{ page.site_brand }}
          <div id="main" class="{{ main_grid_class }}">
            <a id="main-content"></a>
            {{ page.content }}
          </div>
        </div>



      {#<div style="text-align: center; padding: 5px;">#}
      {#<div style="text-align: center; padding: 5px;">#}
      {#<a href="http://www.greenlandtechnology.com/"> A GreenLand Technologies SMS Company </a>#}
      {#</div>#}
{% include directory ~ '/templates/footer.html.twig' %}