
{% include directory ~ '/templates/header.html.twig' %}
{{ attach_library('chess9ja/user-branding') }}
<section id="promo-1" class="content-block promo-1 min-height-600px bg-offwhite">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 style="color:#fff;">Login to Chess9ja!</h2>
        <h4 style="color: #fff;">In few in steps you can start experincing the <span style="color: #f00;">uniqueness</span> in Chess9ja. Its Fun and its educative.</h4>
      </div>
    </div>
      <div class="form-group">
        <div id="main">
        <a id="main-content"></a>
        {{ page.content }}
          {{ page.site_brand }}
      </div>



        {#<div style="text-align: center; padding: 5px;">#}
      {#<div style="text-align: center; padding: 5px;">#}
        {#<a href="http://www.greenlandtechnology.com/"> A GreenLand Technologies SMS Company </a>#}
      {#</div>#}

    </div>
  </div>
</section>

{% include directory ~ '/templates/footer.html.twig' %}