{% include directory ~ '/templates/header.html.twig' %}

{{ attach_library('chess9ja/user--register') }}

    <div class="form-group">
      <div id="main">
        <a id="main-content"></a>
        {{ page.content }}
        {{ page.site_brand }}
      </div>



      {#<div style="text-align: center; padding: 5px;">#}
      {#<div style="text-align: center; padding: 5px;">#}
      {#<a href="http://www.greenlandtechnology.com/"> A GreenLand Technologies SMS Company </a>#}
      {#</div>#}

    </div>

{% include directory ~ '/templates/footer.html.twig' %}