{{ attach_library('chess9ja/dashboard') }}
    <div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="{{ url('<front>') }}" class="site_title"><i class="fa fa-paw"></i> <span>Chess9ja</span></a>
        </div>

        <div class="clearfix" role="complementary"></div>

        {#<!-- menu profile quick info -->#}
        {#<div class="profile clearfix">#}
          {#<div class="profile_pic">#}
            {#<img src="/chess/images/img.jpg" alt="..." class="img-circle profile_img">#}
          {#</div>#}
          {#<div class="profile_info">#}
            {#<span>Welcome,</span>#}
            {#<h2>Chess User!</h2>#}
          {#</div>#}
        {#</div>#}
        {#<!-- /menu profile quick info -->#}

        <br />

        {% include directory ~ '/templates/dashboard-nav.html.twig' %}

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    {% include directory ~'/templates/top-nav.html.twig' %}

    <!-- page content -->
    {% include directory ~ '/templates/dashboard-content.html.twig' %}
    <!-- /page content -->


    <!-- footer content -->
    <footer>
      <div class="pull-right">
        <p>&copy; 2017 Chess9ja Entertainment | <a href="/terms-and-conditions"> Terms &amp; Conditions</a> and <a href="/privacy-policy">Privacy Policy</a> | </p>
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
  </div>

