{{ attach_library('chess9ja/dashboard') }}
    <div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="{{ url('<front>') }}" class="site_title"><i class="fa fa-paw"></i> <span>Chess9ja</span></a>
        </div>

        <div class="clearfix" role="complementary"></div>

        <br />

         <div class="menu-bar">
        {% include directory ~ '/templates/dashboard-nav.html.twig' %}
         </div>
      </div>
    </div>

    <div class="top-bar">
    {% include directory ~'/templates/top-nav.html.twig' %}
    </div>

    <!-- page content -->
    <div class="dashboard-content">
    {% include directory ~ '/templates/dashboard-content.html.twig' %}
    </div>
    <!-- /page content -->


    <!-- footer content -->
    <footer>
        {% include directory ~ '/templates/footer.html.twig' %}
      {#<div class="pull-right">#}
        {#<p>&copy; 2017 Chess9ja Entertainment | <a href="/terms-and-conditions"> Terms &amp; Conditions</a> and <a href="/privacy-policy">Privacy Policy</a> | </p>#}
      {#</div>#}
      {#<div class="clearfix"></div>#}
    </footer>
    <!-- /footer content -->
  </div>
  </div>

