<!-- user menu -->
<nav class="userMenu">
  <div class="expandingMenu">
    <span class="loader userPic">
        <img src="chess/images/user/26x26_profile_default" alt="loading...">
        <span>Loading...</span>
    </span>
    <a class="userPic sMenuTrigger profile" href="/en/login">
      <img src="chess/images/user/26x26_profile_default" alt=""> <span class="name">Log in / Register</span>
    </a>
    <div class="secondaryMenuWrapper">
      <ul class="userMenuList">
        <li class="linkLogin">
          <a href="chess/user/login" rel="nofollow" class="login-link">Log in</a>
        </li>
        <li class="linkRegister">
          <a href="chess/user/register" rel="nofollow" class="register-link">Register</a>
        </li>

        <li class="linkProfile">
          <a href="#" class="profile">My profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>